@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@200;400;700&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
    font-family: Poppins;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 30% 30% 35% 5%;
}

section {
    padding: 8%;
}

header {
    height: 100%;
}

.day-section {
    display: flex;
    align-items: center;
}

.main-block {
    width: 100%;
    display: grid;
    grid-template-columns: 80px auto 30px 1fr;
    grid-template-rows: auto 20px 40px 30px 30px 30px 30px 30px;
}

.main-block > * {
    width: 100%;
    height: 100%;
}

.main-description, .main-location, .main-date {
    grid-column: 1 / 6;
}

.main-description {
    line-height: 0.9;
    font-size: 2rem;
    font-weight: 500;
}

.main-icon {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
}

.main-icon > img {
    transform: scale(0.7)
}

.main-temp {
    grid-column: 2 / 3;
    grid-row: 4 / 7;
    display: flex;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
}

.main-units {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-feels-like, .main-humidity, .main-wind {
    grid-column: 4 / 5;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-feels-like {
    grid-row: 4 / 5;
}

.main-humidity {
    grid-row: 5 / 6;
}

.main-wind {
    grid-row: 6 / 7;
}

.main-inputs {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

#form-city {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding-top: 4px;
    border-bottom: 1px solid grey;
}

#form-city input {
    width: 150px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    text-align: right;
}

#form-city button {
    background-color: transparent;
    border: none;
}

#form-city button:hover {
    cursor: pointer;
}

#form-city button:hover i {
    transform: scale(1.1);
    transform-origin: center;
}

#form-city i {
    transform: scale(0.9);
    color: grey;
}

.units-toggle button {
    background-color: transparent;
    border: none;
    color: grey;
}

.units-toggle span {
    font-size: 0.8rem;
    font-weight: 200;
    color: grey;
}

.units-toggle button.units-toggle-active {
    color: white;
    font-weight: 900;
}

#error-container {
    grid-column: 1 / -1;
    grid-row: 8 / 9;
    text-align: right;
    color: rgb(202, 96, 96);
}

.forecast-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8%;
}

.forecast-scroller {
    position: relative;
    max-width: 100%;
    height: 120px;
    padding-top: 10px;
    /* border: 1px solid white; */
    overflow: hidden;
}

.forecast-scroller-active {
    cursor: grab;
}

.forecast-container {
    position: absolute;
    display: flex;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.forecast-block {
    width: 80px;
    height: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 45% 30%;
    column-gap: 6px;
}

.forecast-block > * {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast-day {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 1.2rem;
}

.forecast-icon {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: scale(1.2); */
    /* text-align: center; */
    /* width: 100%; */
    /* margin-top: -16px; */
}

.forecast-icon > img {
    transform: scale(0.4)
}

.forecast-max-temp {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-weight: 700;
    justify-content: end;
}

.forecast-min-temp {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-weight: 100;
    justify-content: start;
}


footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

footer a:visited {
    color: white;
}

footer p {
    padding: 0;
}